body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fce4ec;
    color: #880e4f;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ff80ab;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#birthday-button {
    background-color: #d500f9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#birthday-button:hover {
    background-color: #aa00ff;
}
